streamlit==1.38.0
requests==2.32.3
jiwer==3.0.4
rouge-score==0.1.2
transformers==4.44.2
torch==2.4.1
moviepy==1.0.3            # Required for audio processing and conversion
numpy==1.26.4             # Required for numerical operations
docx==0.2.5               # Required for creating Word documents
reportlab==3.6.12         # Required for creating PDF files
